<div ng-controller="stationeryCtrl">
	<div class="s-stationery-head-left">
		<h3>
			<span>文具展示</span>
		</h3>
	</div>
	<div class="top-header-search-box">
		<input type="text" placeholder="Search" ng-model="searchText">
		<input type="submit" value=" ">
	</div>
	<div class="clearfix"></div>
	<div class="special-stationery-girds">
		<div ng-repeat="item in stationery|filter: {name: searchText}">
			<div class="col-md-2 special-stationery-grid text-center">
				<span class="stationery-here" ng-cloak><img
					ng-src="./style/image/SH_{{item.id}}.jpg" /></span>
				<h5 ng-cloak>{{item.price|currency:'￥'}}元/{{item.standard}}</h5>
				<h5 ng-cloak>{{item.name}}</h5>
				<button class="stationery-btn" ng-click="addToCart(item)" ng-cloak>
					<small>加入购物车</small><label></label>
				</button>
			</div>
		</div>
	</div>
</div>