<div ng-controller="navigationBarCtrl">
<div id="container" style="width:900px;margin:-20px 200px">
<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">工资管理系统</h1></div>
<div id="menu" style="background-color:#FFD700;height:600px;width:100px;float:left;">
<b>菜单</b><br>
<a ui-sref-active="active" ui-sref="show.staffSalary">查看工资</a><br>
<a ui-sref-active="active" ui-sref="show.staffTime">工时管理</a><br>
<a ui-sref-active="active" ui-sref="show.staffPassword">修改密码</a><br>
<b>admin菜单</b><br>
<a ui-sref-active="active" ui-sref="show.manageStaffs">管理员工</a><br>
<a ui-sref-active="active" ui-sref="show.addItem">添加项目</a><br>
<a ui-sref-active="active" ui-sref="show.checkSalary">查看工资</a><br>
<a ui-sref-active="active" ui-sref="show.generateExcel">生成工资报表</a><br></div>
<div id="content" style="background-color:#EEEEEE;height:600px;width:800px;float:left;">
<div class="container" ui-view></div>
</div>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
版权 © runoob.com</div>
</div>









</div>