<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd" default-lazy-init="false">
<mvc:annotation-driven/>
<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
<property name="messageConverters">
<list>
<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
<bean class="org.springframework.http.converter.StringHttpMessageConverter">
<property name="supportedMediaTypes" value="application/json; charset=UTF-8"/>
</bean>
</list>
</property>
</bean>
<!--
  <bean id="stringHttpMessageConverter"
      class="org.springframework.http.converter.StringHttpMessageConverter">
    <property name="supportedMediaTypes">
        <list>
            <bean class="org.springframework.http.MediaType">
                <constructor-arg value="application"/>
                <constructor-arg value="json"/>
                <constructor-arg value="UTF-8"/>
            </bean>
        </list>
    </property>
 </bean>
 
 <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
    <property name="messageConverters">
        <list>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </list>
    </property>
 </bean>
  <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
  <property name="messageConverters">
    <list>
      <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
      <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
      <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
    </list>
  </property>
</bean> 
-->
<!--
 <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
    <property name="supportedMediaTypes">
        <list>
            <value>text/html;charset=UTF-8</value>
            <value>application/json;charset=UTF-8</value>
        </list>
    </property>
 </bean>
 
        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
            <property name="supportedMediaTypes">
                <list>
                    <value>text/plain; charset=UTF-8</value>
                    <value>text/html; charset=UTF-8</value>
                    <value>application/json; charset=UTF-8</value>
                </list>
            </property>
        </bean> 
-->
<!--
 <bean id="exception" class="java.lang.StackTraceElement" /> <bean id="bean" 
		class="csts.bookstationery.service.common.module.Stationery" /> <bean id="bean" 
		class="csts.bookstationery.service.common.module.Sort" /> 
-->
<context:annotation-config/> 
<context:component-scan base-package="citi.*"/>
<!--  静态资源  -->
<mvc:resources mapping="/style/**" location="/style/"/>
<mvc:resources mapping="/js/**" location="/js/"/>
<mvc:resources mapping="/views/**" location="/views/"/>
<mvc:resources mapping="/index.html" location="/"/>
<!--
 <mvc:resources location="/" mapping="/**/*.html"/> <mvc:resources location="/" 
		mapping="/**/*.js"/> <mvc:resources location="/" mapping="/**/*.css"/> <mvc:resources 
		location="/" mapping="/**/*.png"/> <mvc:resources location="/" mapping="/**/*.gif"/> 
-->
<!--
======================== Session Layer ====================== 
-->
<!-- <bean id="baseFacade" class="csts.bookstationery.session.common.BaseFacade" scope="session">
<property name="sessionHelper" ref="sessionHelper"/>
</bean>
<bean id="sessionHelper" class="csts.bookstationery.session.helper.SessionHelperImpl" scope="session"/>

 <bean id="soeidFilter" class="csts.bookstationery.soeid.filter.SoeidFilter" 
		parent="baseFacade" scope="session"/> 

<bean id="referralsFacade" class="csts.bookstationery.session.referrals.FacadeImpl" parent="baseFacade" scope="session">
<property name="internalReferralsService" ref="internalReferralsService"/>
<property name="userEntitlementService" ref="userEntitlementService"/>
</bean>
<bean id="adminFacade" class="csts.bookstationery.session.admin.FacadeImpl" parent="baseFacade" scope="session">
<property name="adminService" ref="adminService"/>
</bean>
<bean id="entitlementFacade" class="csts.bookstationery.session.entitlement.FacadeImpl" parent="baseFacade" scope="session">
<property name="entitlementService" ref="userEntitlementService"/>
</bean>
<bean id="checkStatusFacade" class="csts.bookstationery.session.checkstatus.FacadeImpl" parent="baseFacade" scope="session">
<property name="checkStatusService" ref="checkStatusService"/>
</bean>
<bean id="bookStationeryFacade" class="csts.bookstationery.session.bookstationery.FacadeImpl" parent="baseFacade" scope="session">
<property name="bookStationeryService" ref="bookStationeryService"/>
<property name="mailService" ref="mailService"/>
</bean>

======================== Service Layer ====================== 

<bean id="baseService" abstract="true" class="csts.bookstationery.service.common.BaseService" scope="singleton">
<property name="appConfiguration" ref="appConfiguration"/>
<property name="userEntitlementService" ref="userEntitlementService"/>
</bean>
<bean id="internalReferralsService" class="csts.bookstationery.service.referrals.InternalReferralsServiceImpl" parent="baseService" scope="singleton" init-method="init">
<property name="mailService" ref="mailService"/>
</bean>
<bean id="adminService" class="csts.bookstationery.service.admin.AdministratorServiceImpl" parent="baseService" scope="session" init-method="init">
<property name="checkStatusService" ref="checkStatusService"/>
</bean>
<bean id="userEntitlementService" class="csts.bookstationery.service.entitlement.UserEntitlementServiceImpl" parent="baseService" scope="singleton" init-method="init">
<property name="mailService" ref="mailService"/>
</bean>
<bean id="checkStatusService" class="csts.bookstationery.service.checkstatus.CheckStatusServiceImpl" parent="baseService" scope="singleton" init-method="init"></bean>
<bean id="bookStationeryService" class="csts.bookstationery.service.bookstationery.BookStationeryServiceImpl" parent="baseService" scope="singleton" init-method="init">
<property name="checkStatusService" ref="checkStatusService"/>
</bean>
<bean id="mailService" class=" csts.bookstationery.service.mail.MailServiceImpl" parent="baseService" scope="singleton" init-method="init">
<property name="mailSender" ref="mailSender"/>
<property name="mailCfg">
<map>
<entry key="mailHost" value="@iuo.ssmb.com"/>
<entry key="fromBS" value="bookstationery@iuo.ssmb.com"/>
<entry key="fromIR" value="InternalReferrals@iuo.ssmb.com"/>
<entry key="HRmail" value="jw63875,lg40928,xw42420,wp80878,qb61267,rq85078,ld10987,gy91065"/>
<entry key="alwaysCC" value="ql99832,yx25448,js29876"/>
</map>
</property>
</bean>
<bean id="appConfiguration" class="csts.bookstationery.service.appconfig.AppConfiguration" scope="singleton" init-method="init">
<property name="appCfg">
<map>
<entry key="adminPWD" value="42-8A-62-E2-A8-C0-C0-40-8A-20-40-2A-AA-C8-48-C0-E0-E0-88-C8"/>
<entry key="mainPage" value="desktop.html"/>
<entry key="defaultTemplatesPath" value="templates/default/"/>
<entry key="templatesPath" value="templates/"/>
<entry key="bookingDataPath" value="data/"/>
<entry key="dlTemplateName" value="DL.xls"/>
<entry key="shTemplateName" value="SH.xls"/>
<entry key="userTemplateName" value="USERS.xls"/>
<entry key="defaultLan" value="zh"/>
<entry key="templateEndFlag" value="END"/>
<entry key="staffInfoUrl" value="http://vm-f0d4-512b.nam.nsroot.net:9200/staffdb/staff/"/>
<entry key="systemCfgFileName" value="systemCfg.xml"/>
<entry key="excelHeader" value="CSTS 文具申请明细"/>
<entry key="sortedByCCTitle" value="按costCenter划分"/>
<entry key="sortedByTeamTitle" value="按Team划分"/>
<entry key="excelHeader" value="CSTS 文具申请明细"/>
<entry key="col0" value="分类"/>
<entry key="col1" value="品名"/>
<entry key="col2" value="规格"/>
<entry key="col3" value="单价"/>
<entry key="col4" value="数量"/>
<entry key="col5" value="价格"/>
<entry key="totalInfoName" value="总结"/>
</map>
</property>
</bean>

========================= SPRING BEANS ===================== 

 Sending email 
<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

 property name="host" value="mailhub-vip.nj.ssmb.com"/> 

<property name="host" value="localhost"/>
</bean> -->
</beans>